@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic|Nanum+Gothic+Coding&display=swap");

body {
  background-color: #99a1a8;
  color: #cbd8e2;
  text-align: center;
  font-size: 20px;
  font-family: "Nanum Gothic Coding", monospace;
}

h1,
h2,
h3,
h4 {
  font-family: "Nanum Gothic", sans-serif;
}

/* a {
  color: #a9c01b;
  text-decoration: none;
  border-bottom: 2px solid #a9c01b;
} */

/* Theme:
#A9c01B
#99A1A8
#505167
#CBD8E2 */
